body,html {
    margin-left:23%;
}
.heading {
    color:red;
    margin-top:30px;
}
button {
    color:white;
    background-color:red;
    border:2px solid;
    border-radius:5px;
    padding:15px;
    margin-left:60px;
}
img {
    width:250px;
    margin-top:35px;
}