body,html {
    margin-left:23%;
}
.heading {
    color:red;
    margin-top:30px;
}
button {
    color:white;
    background-color:red;
    border:2px solid;
    border-radius:5px;
    padding:15px;
    margin-left:8%;
}
img {
    width:250px;
    margin-top:35px;
}
.container {
    margin-left:7%;
}
#flip {
    background-color: rgb(17, 144, 23);
    color:aliceblue;
    padding:10px;
    margin-left:70px;
}